#container{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
  }
  
  .section{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  
  #wrapper{
    display: flex;
    align-items: center;
    gap: 4em;
  }
  
  #bio {
    font-weight: 300;
  }
  
  #userName{
    font-size: 48px;
    line-height: 1em;
  }
  
  #email{
    color: var(--mainTextColor);
    font-size: 18px;
  }
  
  #socials{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
    text-align: center;
  }
  
  #socials a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
  }
  
  #socials a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
  }
  
  #qualifications{
    list-style: none;
  }
  
  #wrapperTechstack{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
  }
  
  .cardTechstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
  }
 
  
  .cardProject{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
  }
  
  .cardproject a{
    color: var(--mainTextColor);
    transition: 0.3s;
  }
  
  
  .cardProject a:hover{
    color: rgb(30, 190,214);
  
  }
  #technology{
    display: flex;
    justify-content:flex-start;
    column-gap: 1em;
    flex-wrap: wrap;
    text-align: center;
  }
  
  
  
  @media(max-width:600px){
  
    .section{
        padding-top: 1em;
        padding-bottom: 1em;
    }
  
    #wrapper{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #wrapper{
        flex-direction: column;
    }

  }
  